
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap'); 


body {
    font-family: 'Abel';
    background-color: #333333;
}

.centered {
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-shift {
    position: relative;
    right:20%;
}

.fg-green {
    color: #1DB954
}

.playlist-img {
    width: 150px;
    height: 150px;
    margin: 50px;
    border-radius: 30px;
}

.playlist-img-big {
    width: 250px;
    height: 250px;
    margin: 50px;
    border-radius: 50px;
}

