
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap'); 


body {
    font-family: 'Abel';
    background-color: #333333;
}

.login-page {
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fg-white {
    color: white;
}

.homepage-header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.vertical {
    position: absolute;
    flex-direction: column;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #3a3d38;
}

.searchbar {
    width: 35%;
}

.playlist-img {
    width: 150px;
    height: 150px;
    margin: 50px;
    border-radius: 30px;
}

.playlist-img-big {
    width: 250px;
    height: 250px;
    margin: 50px;
    border-radius: 50px;
}

