
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap'); 


body {
    font-family: 'Abel';
    background-color: #333333;
}

.login-page {
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage-layout {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.fg-white {
    color: white;
}

.homepage-header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.album-title {
   top:50%;  
   left:25%;
   z-index:1;
}

.header-color {
    background-color: #434541;
}

.link-tag {
    text-decoration: none;
}
.search-bar {
    width: 35%;
}

.playlist-img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    object-position: 50% 50%;
    overflow: hidden;
    z-index:0;
}

.search-buttons {
    position: relative;
    display: flex;
    flex-direction: row;
    width:100%;
    align-items: center;
    justify-content: center;
}

.playlist-img-big {
    width: 250px;
    height: 250px;
    margin: 50px;
    border-radius: 50px;
}

